/ValeriiGitRepo/
.DS_Store
.vscode/
*.swp
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.cram
*.tgz
*.tar.gz
*.h5
*.hdf5
*.zip
*.bed
*.tab
*final.out
*sjdbInfo.txt
*.info
**/logs/
*.out.txt
*.err.txt
*.log
*.out
*.tmp
*.bak
*.swp
*.sra*
*.sralite
**/*keep/*
*.keep
*.sif
**/SRR*/
**/*_STARtmp/
**/*_STARpass1/
**/*_STARgenome/
**/*lsf_logs/*
*.ngc
STAR2pass_SAMN*
**/altanalyze_output/*
!**/altanalyze_output/counts.original.full.txt